*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
    padding: 0;
    max-width: 1200px;
} 
@media screen and (max-width: 768px){
.row{ 
    display: flex;
    flex-direction: column;
    border: 20px  solid  yellow !important;
}
} 
@media screen and (max-width: 480px){
header{
    display: flex;
    flex-direction: column !important;
    border: 40px solid black !important;
    padding: 50px !important;
}
.square{
    width: 100% !important;
    height: 50px !important;
}
.rectangle{
    width: 100% !important;
    height: 50px !important;
}
nav{
    border: 40px solid black !important;
    background-color: orange !important;
    padding: 50px !important;
}
.rectangle2{
    width: 100% !important;
    border: 0px  solid  orange !important;
    margin: 10px;
    height: 50px !important;
}
.row{ 
    display: flex;
    flex-direction: column;
    border: 20px  solid  yellow !important;
}
aside{
    display: flex;
    flex-direction: column;
    border:none !important;
    padding: 50px !important;
    border: 20px  solid  yellow !important;
}
.rectangle4{
    width: 100% !important;
    height: 60px !important;
    margin: 10px !important;
}
.rectangle5{
    width: 100% !important;
    height: 60px !important;
    margin: 10px !important; 
}
section {
    display: flex;
    flex-direction: column;
    border:none !important;
    padding: 50px !important;
    border: 20px  solid  yellow !important;
}
.rectangle6{
    background-color: orange !important;
}
footer {
    border: 40px solid black !important;
    padding: 50px !important;
}
}
header{
    display: flex;
    flex-direction: row;
    background-color: #555;
    border: 10px solid black;
    border-bottom: 0px;
    padding: 0px;
}
.square {
 width: 20%;
 height: 30px;
 background: red;
 margin: 10px;
}
.rectangle {
 width: 80%;
 height: 30px;
 background: red;
 margin: 10px;
}
nav{
border: 10px solid black;
background-color: #555;
padding: 0px;
}
.rectangle2 {
display:flex;
flex-direction:column;
 width: 100%;
 height: 50px;
 background: yellow;
 border: 10px solid orange;

}
.row{
    display: flex;
    flex-wrap: wrap-reverse;
}
aside{
    flex:65%;
    display: flex;
    flex-wrap: wrap;
    background-color:grey;
    border: 10px solid black;
    padding: 10px;

}
.rectangle4 {
display:flex;
flex-direction:column;
 width: 50%;
 height: 50px;
 background: blue;
 border: 5px solid grey;
}
.rectangle5 {
display:flex;
flex-direction:wrap;
 width: 100%;
 height: 50px;
 background: skyblue;
 border: 5px solid grey;

}
section{
    flex:35%;
    background-color: red;
    border: 10px solid black;
    padding: 10px;

}
.rectangle6 {
display:flex;
flex-direction:wrap;
 width: 100%;
 height: 50px;
 background: lightgoldenrodyellow;
 border: 5px solid red;
 margin: 0px
}
footer{
    width: 100%;
    height: 50px;
    background-color: gold;
    border: 10px solid black;
}
